/* fonts */

.inter-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* text-colors */
.color-1{
    color: rgb(78, 71, 255);
}

.color-2{
    color: rgb(37, 36, 50);
}

.color-3{
    color: rgba(37, 36, 50, 0.5);
}

.color-4{
    color: rgb(255, 255, 255);
}

.color-5{
    color: rgb(0, 0, 0);
}
.color-6{
    color: rgba(30, 30, 30);
}
.color-7{
    color: rgb(117, 117, 117);
}
.color-8{
    color: rgb(179, 179, 179);
}

.color-9{
    color: rgb(0, 0, 0, .5);
}
.color-10{
    color: #8987A1;
}

/* common CSS */
*{
    margin: 0;
    padding: 0;
}
.button-style{
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color:#4E47FF ;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}

/* header */

/* navbar */
.header-section{
    margin: 0 auto;
    height: 698px;
    background-image: url("../Assets/Hero-bg.png");
}
.nav-section{
    margin: 0 auto;
    width: 1140px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.nav-text{
    font-size: 34px;
    font-weight: 900;
}

/* banner */
.banner-content{
    margin: 0 auto;
    height: 507px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-text{
    font-size: 65px;
    font-weight: 700;
}
header div button{
    margin-top: 37px;
}

/* Main Section */

.main-section{
    max-width: 1140px;
    margin: 0 auto;
}

/* live preview */
.live-preview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 116px;
}

.live-preview-image{
    border-radius: 48px;
}
.live-preview-text-section{
    max-width: 517px;
}
.live-preview-header{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 23px;
}
.live-preview-text{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 23px;
}

/* Brand metrics */
.brand-metrics{
    background-color: rgba(78, 71, 255, .1);
    height: 306px;
    margin-top: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
}
.brand-header{
    font-size: 38px;
    font-weight: 700;
}

.metric-numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 856px;
    margin-top: 40px;
}

.number{
    font-size: 80px;
    font-weight: 700;
}

.caption{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}